body{
    background-color: red;
}
@media only screen and (min-width:370px){

}
@media only screen and (min-width:1440px){
    
}
#first-con{
    padding-top:45px;
    padding-bottom:45px;
    background-color:green;
}