body{
    margin:0%;
}
@media only screen and (min-width:370px){

}
@media only screen and (min-width:1440px){
    #first-con{
        padding-top:45px;
        padding-bottom:45px;
        background-color:hsl(185, 75%, 39%);
    }
    #top_pattern{
        width:50%;
        margin-top:-400px;
    }
    #bottom_pattern{
        width:50%;
        margin-left:750px;
    }
    #card{
        padding-left:0;
        padding-right:0;
        padding-bottom:20px;
        margin-top:-230px;
        width:350px;

        border-radius: 20px;

        background-color:white;
    }
    #card-top{
        z-index:1;
    }
    #mid_pattern_img{
        width:350px;
        border-radius:20px 20px 0px 0px;
    }
    #profile-pic{
        border-radius:80px;
        border: 5px solid white;
        padding:0;
        z-index:3;
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:-50px;
    }
    .divider{
        width:100%;
        opacity:35%;
    }
}
.name{
    font-family: 'Kumbh Sans', sans-serif;
    font-size:18px;
    font-weight: 700;
    text-align:center;
    padding-top:20px;
    margin-right:30px;
}
.age{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(0, 0%, 59%);
    font-size:18px;
    font-weight: 400;
    padding-left:20px;
    text-align:center;
    margin-left:90px;
    margin-top:-42px;
}
.location{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(0, 0%, 59%);
    font-size:16px;
    font-weight:400;
    text-align:center;
    margin-top:-10px;
}
.bottom-details{
    padding-left:10px;
    padding-right:10px;
    display:flex;
}
.bottom-details p{
    font-family: 'Kumbh Sans', sans-serif;
}
.bottom-f-number, .bottom-l-number, .bottom-p-number {
    flex:33.3%;
    font-size: 18px;
    font-weight: 700;
    text-align:center;
}